<title>Reusable Form Demo</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
     <h2>Q6: 如果突然給我一件困難的工作，而且時間有限，人員不熟：</h2>
     <form action="" method="post" role="form">
          {{ form.csrf }}
     <div class="form-group">
          <input type="text" class="form-control" id="A1" name="A1" maxlength="2" size="2">
          <label for="A1">1. 在有新方案之前，我寧願先躲進角落，擬定出一個解脫困境的方案</label><br>
          <input type="text" class="form-control" id="A2" name="A2" maxlength="2" size="2">
          <label for="A2">2. 我比較願意與那些表現出積極態度的人一道工作</label><br>
          <input type="text" class="form-control" id="A3" name="A3" maxlength="2" size="2">
          <label for="A3">3. 我會設想通過用人所長的方法來減輕工作負擔</label><br>
          <input type="text" class="form-control" id="A4" name="A4" maxlength="2" size="2">
          <label for="A4">4. 我天生的緊迫感，將有助於我們不會落在計劃後面</label><br>
          <input type="text" class="form-control" id="A5" name="A5" maxlength="2" size="2">
          <label for="A5">5. 我認為我能保持頭腦冷靜，富有條理地思考問題</label><br>
          <input type="text" class="form-control" id="A6" name="A6" maxlength="2" size="2">
          <label for="A6">6. 儘管困難重重，我也能保證目標始終如一</label><br>
          <input type="text" class="form-control" id="A7" name="A7" maxlength="2" size="2">
          <label for="A7">7. 如果集體工作沒有進展，我會採取積極措施去加以推動</label><br>
          <input type="text" class="form-control" id="A8" name="A8" maxlength="2" size="2">
          <label for="A8">8. 我願意展開廣泛的討論意在激發新思想，推動工作</label>
     </div>
     <br>
     <button type="submit" class="btn btn-success">Next</button>
     </form>
     {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
          {% for message in messages %}
               {% if "Error" not in message[1]: %}
                  <div class="alert alert-info"><strong>Success! </strong>{{ message[1] }}</div>
               {% endif %}

               {% if "Error" in message[1]: %}
                  <div class="alert alert-warning">{{ message[1][8:] }}</div>
               {% endif %}
          {% endfor %}
     {% endif %}
     {% endwith %}
</div>
