<title>Reusable Form Demo</title>
<link rel="stylesheet" media="screen" href="static/bootstrap_3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="static/bootstrap_3.4.1/css/bootstrap-theme.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
     <h2>貝爾賓團隊角色 (Belbin Team Roles)</h2>
     以下會有七組題目(共7個頁面)，每一個頁面會有一個問題與八句行為描述，每一個頁面你只會有10分，請將10分針對不同程度上符合您的行為描述，分配給這八句行為描述。
     <br>
     [10分 分配原則]
     <ul>
          <li>最能體現您行為的句子分數應最高，以此類推。</li>
          <li>覺得每一句行為描述不符合，可以給 0分。</li>
          <li>最極端的情況也可能是10分全部分配給其中的某一句行為描述。</li>
     </ul>
     請根據您的實際情況把每一題的分數填入表格中。<br>
     最後我們會計算出每個角色的得分, 並將分析結果 Email 給你。
     <form action="" method="post" role="form">
          {{ form.csrf }}
     <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="What's your name?" />
          <label for="email">Email:</label>
          <input type="text" class="form-control" id="email" name="email" placeholder="Your email will be used to contact you." />
     </div>
     <button type="submit" class="btn btn-success">Sing Up</button>
     </form>
     {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
          {% for message in messages %}
               {% if "Error" not in message[1]: %}
                  <div class="alert alert-info"><strong>Success! </strong>{{ message[1] }}</div>
               {% endif %}

               {% if "Error" in message[1]: %}
                  <div class="alert alert-warning">{{ message[1][8:] }}</div>
               {% endif %}
          {% endfor %}
     {% endif %}
     {% endwith %}
</div>